@font-face {
    font-family: AfterNight;
    src: url('../fonts/AfterNight.ttf');
}

.navbar {
    color: black;
    background-color: rgb(230, 230, 230);
    filter: drop-shadow(0px 00px 50px grey);
    height: 100px;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: grey;
}

.navbar-brand {
    font-size: 40px;
    font-family: AfterNight;
    color: black;
    transition: all 0.1s ease-in;
}

.navbar-brand:hover {
    color: grey;
}

body {
    font-family: Montserrat;
}

.user-container {
    display: inline-block;
    width: 40px;
}

.user-bg {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: -20px auto 0 auto;
    background-color: rgb(0, 195, 255);
}

.user-letter {
    color: white !important;
    text-align: center;
    font-weight: 800;
    font-size: 20px;
}

.spacer {
    width: 60px;
}

.line {
    display: block;
    height: 100%;
    margin: 0 auto;
    width: 1px;
    background-color: grey;
}

.logout {
    color: rgb(168, 5, 5);
    font-weight: 600;
}

.btn-submit {
    float: right;
}

.form-group {
    padding: 5px;
}

.form-input-title {
    padding: 5px;
    margin: 0px;
}

h3 {
    margin-top: 50px;
}

h1,h2,h3,h4,h5 {
    font-family: AfterNight;
}

.action-buttons .btn {
    margin: 3px;
    padding: 8px 23px;
}

.float-right {
    float: right;
}

.modal-body {
    padding: 50px;
}

.modal-footer {
    justify-content: space-between !important;
}

th {
    font-weight: 400;
}



/* Fluid Container Styling */
.hero {
    padding: 100px 0 100px 0;
    background-image: url('../img/hero.png');
    background-size:100%;
    color: white;
}




/* Login Styling */
.login-container {
    width: 50%;
}

.login-container h1 {
    padding: 100px 0 50px 0;
}

.login-container .row {
    margin-top: 10px;
}

.login-container .btn {
    padding: 10px 0px;
}

.login-container .buttons {
    margin-top:30px;
}

.login-container a.login {
    padding: 10px 20px;
}

#ingredientsList {
    list-style-type: none;
}

.ingredientItem input {
    border: none;
    padding: 10px;
}

#numOfIngredients {
    float:right;
    text-align: right;
    padding: 0px 0px;
    width: 30px;
}

.totalSubtitle {
    float: right;
}